Practice Work

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv(r'/Users/tiffanib./Desktop/Career Foundry Data Analytics/Achievement 4 - Python/28-09-2025 Instacart Basket Analysis/02 Data/Original Data/orders.csv',index_col = False)

In [3]:
path = r'/Users/tiffanib./Desktop/Career Foundry Data Analytics/Achievement 4 - Python/28-09-2025 Instacart Basket Analysis'

In [4]:
path

'/Users/tiffanib./Desktop/Career Foundry Data Analytics/Achievement 4 - Python/28-09-2025 Instacart Basket Analysis'

In [5]:
#importing orders_product_prior data frame
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data', 'orders_products_prior.csv'), index_col=False)

In [6]:
#checking output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords=pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_cleaned.csv'),index_col=False)

In [9]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,orders_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [10]:
#checking the shape of the df_ords dataframe
df_ords.shape

(3421083, 8)

In [11]:
#merging both dataframes
df_merged_large = df_ords.merge(df_ords_prior, on ='order_id', indicator = True)

In [12]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,orders_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
df_merged_large.to_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined.pkl'))